@use '../base/variables' as *;
@use '../helpers/functions' as *;
@use '../mixin/breakpoints' as *;

.nav-menu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: rem(30);

    .btn-bg {
        padding: rem(20) rem(10);
        background-color: #fffdfa8f;
        position: fixed;
        right: rem(30);
        border-radius: rem(8);
        z-index: 1000;
    }

    &__btn {
        width: rem(50);
        height: rem(5);
        cursor: pointer;
        background-color: $very-dark-blue;
        transition: all .3s;
        &::before,
        &::after {
            content: "";
            display: block;
            height: rem(5);
            width: 100%;
            background-color: $very-dark-blue;
            transition: transform .6s;
        }

        &::before {
            transform: translateY(- rem(10.5));
        }

        &::after {
            transform: translateY(rem(5));
        }

        &.active {
            background-color: transparent;

            &::before {
                transform: translateY(0) rotate(45deg);
            }
            &::after {
                transform: translateY(- rem(5)) rotate(-45deg);
            }
        }
        
        @include breakpoint(large) {
            display: none;
        }
        
    }

    &__list {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(rem(200));
        opacity: 0;
        transition: all .4s;
        padding-inline-start: rem(32);
        padding-block-start: rem(128);
        display: flex;
        flex-direction: column;

        &.active {
            position: fixed;
            opacity: 1;
            background-color: $off-white;
            width: min(70%, rem(500));
            height: 100vh;
            transform: translateX(0);
            z-index: 999;

            & > li {
                transform: translateY(0);
            }
        }

        @include breakpoint(large) {
            position: initial;
            transform: translate(0, 0);
            display: block;
            opacity: 1;
            padding-top: 0;
        }
    }

    &__item {
        font-size: rem(20);
        padding-bottom: rem(32);
        transform: translateY(- rem(500));
        transition: transform .7s;

        & > .menu-link {
            color: $very-dark-blue;

            &:hover {
                color: $soft-orange;
            }
        }

        @include breakpoint(large) {
            float: left;
            transform: translateY(0);
            padding-bottom: 0;
            padding-inline-start: rem(30);
        }
    }

}

.overlay {
    display: none;

    &.active {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: $very-dark-blue;
        opacity: .3;
        z-index: 500;
    }
}